<ion-view view-title="Calorie Counter">
	
	
 
    <div class="bar bar-header bar-dark">
	<h1 class="title"> Welcome to your daily calorie counter</h1>
    </div>
  
    <br>
	<br>
	<div class="card">
      <div class="item item-image">
        <div>
		  <img src="img/food.jpg" style="width: 330px; float: left;">
		  <img src="img/food.jpg" style="width: 330px; float: left;">
		  <img src="img/food.jpg" style="width: 330px; float: left;">
		  
		 </div>
      </div>
    </div>
	
	
	<div class="card">
	  <div class="item item-text-wrap">
		<b> <center> This app will assist you in keeping track of your daily caloric intake, which may contribute in maintaining a healthy lifestyle </a> </center> </b>
		<br>
		<!--<h2> <b> <center> <a href = "#/app/dishes/0"> Tap here to begin </a> </center> </b> </h2>-->
	  </div>
	</div>
	
	<div class="card">
	  <div class="item item-text-wrap">
		<b> <center> <a href = "#/app/dishes/0"> Tap here to begin </a> </center> </b>
	  </div>
	</div>
  
  
 </ion-view>