<ion-view view-title="Calorie Counter">
	
	
 
    <div class="bar bar-header bar-dark">
	<h1 class="title">Welcome to your daily calorie counter</h1>
    </div>
  
    <br>
	<br>
	<div class="card">
      <div class="item item-image">
        <div>
		  <img src="img/food.jpg" style="width: 500px; float: left;">
		  <img src="img/food.jpg" style="width: 500px; float: left;">
		  
		 </div>
      </div>
    </div>
	
	
	<div class="card">
	  <div class="item item-text-wrap">
		<b> <center> <a href = "#/app/dishes/0"> Click here to begin </a> </center> </b>
	  </div>
	</div>
  
  
 </ion-view>